* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
h1,
form {
  margin-top: 20px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #1a1110;
  font-weight: bold;
}
form input,
form button {
  padding: 10px;
  margin: 20px;
  width: 200px;
  font-size: 20px;

  outline: none;
  border-style: solid;
}
form button {
  color: white;
  background-color: lightcoral;
  cursor: pointer;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-width: 80%;
  list-style: none;
}
.todo {
  margin: 14px;
  font-size: 27px;
  background: lightcoral;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
}
.todo li {
  flex: 1;
}
.plus-btn,
.delete-btn,
.minus-btn {
  background-color: darkseagreen;
  color: white;
  border: none;
  padding: 18px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  border-radius: 50%;
  margin-right: 20px;
}
.delete-btn {
  background-color: deeppink;
  font-size: 18px !important;
  border-radius: 50%;
}

.plus-btn {
  background-color: burlywood;
}

.todo-item1,
.todo-item2,
.todo-item3,
.todo-item4 {
  margin: 0 8px;
  font-size: 17px;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
input,
button {
  border-color: rosybrown;
}
